/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
  background: $orange;
}

.background-secondary {
  background: $blue;
}

.background-tertiary {
  background: $green;
}

.background-quaternary {
  background: $brown;
}

.background-quinary {
    background: $tan;
}
