/***************************
****************************
Variables Styles
****************************
***************************/

/* Color List */

$blue: #00aeef !default;
$dark-blue: #1c75bc !default;
$green: #8dc63f !default;
$dark-green: #009444 !default;
$orange: #f7941e !default;
$dark-orange: #f15a29 !default;
$brown: #594a42 !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;

$text-color: $dark-brown !default;
$link-color: $green !default;
$primary-mask-color: $orange !default;

$background-primary: $orange !default;
$background-secondary: $blue !default;
$background-tertiary: $green !default;
$background-quaternary: $brown !default;
$background-quinary: $tan !default;
